.row-content{
  margin: 20px auto;
  justify-content: center;
  align-content: center;
}

.card-size{
  width:500px;
  color: snow;
}
.cardtitle{
  margin: 10px;
  margin-right: 20px;
}

.text{
  color: aquamarine;
}

.deletebutton{
  color:white;
  margin: 3px;
}